.plans_section > .plans_section_plans {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    opacity: 0.8;
}

.plans_section > .plans_section_plans:hover {
    opacity: 1;
}

.plans_section > .plans_section_plans--disabled > button {
    background-color: gray !important;
}

.plans_section > .plans_section_plans > button {
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #e50914;
    font-weight: 600;
    border: none;
    cursor: pointer;
}